table.field {
  display: inline-block;
  margin: 0 20px;
  border-collapse: separate;
  /*border-spacing: 0;*/

  tr {
    td {
      width: 60px;
      height: 60px;
      color: #fff;
      font-size: 36px;
      font-weight: bold;
      background: $color_background;
      cursor: pointer;

      div {
        @include animation-name(key-button-animation);
        @include animation-duration(.25s);
      }
    }

    &:nth-child(odd) td:nth-child(odd) {
      background: $color_border;
    }
    &:nth-child(even) td:nth-child(even) {
      background: $color_border;
    }
  }

  &.large tr td {
    width: 60px;
    height: 60px;
    font-size: 36px;
  }

  &.medium tr td {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }

  &.small tr td {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}

.score {
  display: inline-block;
  width: 90px;
  vertical-align: top;

  .title {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid $color_border;
  }

  .turn {
    display: inline-block;
    width: 10px;
    height: 0;
    box-sizing: content-box;

    &.active {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 10px 5px;
      border-color: transparent transparent $color_border transparent;

      // for a better anti-aliasing in webkit browser
      -webkit-transform:rotate(360deg);
    }
  }

  .num {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
  }
}

.popup {
  position: absolute;
  width: 200px;
  height: 80px;
  top: -90px;
  left: 50%;
  margin-left: -110px;
  padding: 10px;
  background: #fafad2;
  border: 1px solid #8b4513;

  @include box-shadow(1px, 1px, 5px, 0, $color_box_shadow);
}