.field-size {
  input {
    width: 100px;
    margin: 10px 0 30px;
    text-align: center;
  }
}

.symbols {
  margin-bottom: 20px;

  ul {
    padding: 0;

    li {
      display: inline-block;
      list-style: none;

      &.active {
        border-width: 3px;
        color: #fff;
      }
    }
  }
}